/.phpunit.cache
/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Activate this line, when you will move out of Demo Website
# /public/storage/*

/public/pma2-53a5687cb26dc41f2ab4033e97e13adefd3740d6
